dl{
    text-align: justify;
}


.list_button {
    background-color: bisque;
    border-color: black;
    border: 2px solid black;
    margin: 3px;
    width: 100px;
}

h2 {
font-style: italic;
}

#page1 h3 {
    background-color: goldenrod;
    width: 50%;
    text-align: center;
}

#page2 h3 {
    background-color: salmon;
    width: 50%;
    text-align: center;
}

#page3 h3 {
    background-color: tomato;
    width: 50%;
    text-align: center;

}