

body {
    background-color: lightslategray;
}
.card {
    display: flex;
    flex-direction: column;
    border: 5px black solid;
    background-color: gray;

    margin: 10px;
    opacity: 1;
    min-width: 200px;
    min-height: 150px;
    padding: 10px;
}

.card.hidden {
    background-color: rgb(67, 67, 67);
    cursor: pointer;
    transition: opacity 1s ease;
}

.card.hidden > * {
    opacity: 0;  /* Hide all content when hidden */
}

.card.done {
    background-color: tomato;
    pointer-events: none;
}

.card.done > * {
    opacity: 0.75;
}

#cardContainer {
    display: grid;
    background-color: darkcyan;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 10px;
    border: solid black;
    margin: 15px;
    opacity: 1;
}

#cardContainer.hidden {
    background-color: rgb(57, 55, 55);
    transition: opacity 1s ease;
    pointer-events: none;
}

#cardContainer.hidden > * {
    opacity: 0;
}

.startBtn {
    border-radius: 10px;
    border: 3px black solid;
    min-width: 70px;
    min-height: 50px;
    background: linear-gradient(to right, #f0f0f0, #d0d0d0);
    box-shadow: 0 6px 0 #888, 0 8px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: all 0.1s ease;
    cursor: pointer;
}

.startBtn:hover {
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
    box-shadow: 0 3px 0 #888, 0 5px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
}


#feedback {
    display: none;
}