
  #colors {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
  }
  #colors > div {
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: black 3px solid;
  }



  li {
    margin: 15px;
  }


  .highlight {
    box-shadow: 0 10px rgba(78, 78, 75, 0.8);
  }