

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    border: solid black 3px;
    background-color: whitesmoke;
    text-align: center;
    display: inline-block;
    max-width: 20%;
}

img {
    max-width: 100%;
}