article {
    background-color:  rgb(66, 37, 2);
}

h2 {
    color: rgb(245, 201, 147);
    font-style: italic;
}

div {
    background-color: rgb(245, 201, 147);
    margin: 10px;
    color: rgb(66, 37, 2);
}




.task1 {
    position: relative;
    padding: 20px;
}

.task1 > div {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: orange;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    top: -50px;
    transition: opacity 0.3s;
}

.task1:hover > div {
    visibility: visible;
    opacity: 1;
}


article + article {
    background-color: rgb(245, 201, 147);
}

article + article h2{
    color: rgb(66, 37, 2);
    font-style: italic;
}

article + article div {
    color: rgb(245, 201, 147);
    background-color:  rgb(66, 37, 2);
}

article + article h4 {
    font-weight: bold;
}

article div:hover:not(.task1 > div){
    border: 4px red solid;
}

article div:hover ~ div:not(:hover), article div:not(:hover):has(~ div:hover) {
    opacity: 0.3;
}

article + article div:hover:not(.task1 > div) { 
    border: 4px pink dotted;
}

/* part1 task2*/

article li:not(.special) {
    color: crimson;
    width: fit-content;
}

article li:nth-child(1) {
    background-color: brown;
}

article li:nth-child(4) {
    font-style: italic;
}

article li:nth-child(odd) {
    font-weight: bold;
}
/* part2 task1*/

blockquote::before {
    content: "\201C"; /* " */
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    
    

    text-align: center;
    line-height: 60px;
    font-size: 2em;
    color: #333;
}
blockquote:hover::before {
    background-color: orangered;
}
blockquote {
    max-width: 800px;
    padding-top: 50px;
}



.task1:has(blockquote:hover) h4 {
    color: orangered;
}


blockquote::after {
    content: "\201D";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    left: 850px;

    

    text-align: center;
    line-height: 60px;
    font-size: 2em;
    color: #333;
}

blockquote:hover::after {
    background-color: orangered;
}

/* part2 task2*/

article + article .task2 ul li{
    color: rgb(245, 201, 147);
    background-color: rgb(66, 37, 2);
    font-weight: 100;
    font-style: normal;

}

article +article .task2 ul li:nth-child(even)::marker{
    content: "\1F600";
}

/* part 2 task 3*/

article + article .task3 span:nth-of-type(1)::before {
    content: ">>/ ";
}

article + article .wrong::before {
    content: "❌";
     position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

article + article .correct::before { 
    
}